#nav-bar {
	background-color: #00A087;
	color: #E8FDFF;
	display: block;
	height: 80px;
	padding: 0 2rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	.logo {
		float: left;
		height: 80px;
		width: 80px;
	}
	
	.header {
		font-size: 2rem;
		line-height: 2.5;
		margin-left: 10px;
	}

	.compose {
		align-items: center;
		background-color: white;
		border: 1px solid black;
		border-radius: 5px;
		color: #00A087;
		display: flex;
		float: right;
		font-size: 1.3rem;
		margin: 16px 0;
		opacity: 0.8;
		padding: 10px;
	}

	&:hover{
		opacity: 1;
	}
}
