#nav-bar {
	background-color: #00A087;
	color: #E8FDFF;
	display: block;
	height: 80px;
	padding: 0 2rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

#nav-bar .logo {
	float: left;
	height: 80px;
	width: 80px;
}

#nav-bar .header {
	font-size: 2rem;
	line-height: 2.5;
	margin-left: 10px;
}

#nav-bar .compose {
	
}